{% extends "base.html" %}
{% block title %}
    Login page
{% endblock %}
<body>
{% block content %}
    <p>Hello! {{ user.username }}</p> 
    <button><a href="{% url 'showSemesters' %}">Manage Semesters</a></button>
    <button><a href="{% url 'showCourses' %}">Manage Courses</a></button>
    <button><a href="{% url 'showClasses' %}">Manage Classes</a></button>
    <button><a href="{% url 'showStudents' %}">Manage Students</a></button>
    <button><a href="{% url 'showLecturers' %}">Manage Lecturers</a></button><br>
    <p>Lecturer to Class</p>
    <button><a href="{% url 'assignLecturerToClass' %}">Assign Lecture to Class</a></button>
    <button><a href="{% url 'removeLecturerFromClass' %}">Remove Lecture from Class</a></button>
    <button><a href="{% url 'removeLecturerFromClass' %}">Change Lecturer to Class</a></button>
    <button><a href="{% url 'showLecturerToClass' %}">Show Lecturer to Class</a></button>
{% endblock %}
</body>