{% extends "base.html" %}
{% block title %}
    Show All Students
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h5>All Students List</h5>
        <p>Choose a student to edit</p>
        <form action="{% url 'showTheStudentDetail' %}" method="get">
            <select name="theStudent">
                <option value="">Select a student</option>
                {% for student in students %}
                    <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }} ({{ student.email }})</option>
                {% endfor %}
            </select>
            <input type="submit" value="View Details">
        </form>
    {% endif %}
{% endblock %}