{% extends "base.html" %}
{% block title %}
    Update Class
{% endblock %}
{% block content %}
    <form action="{% url 'saveAndShowClassesWithLecturer' class.id %}" method="post">
        {% csrf_token %}
        <p><input type="hidden" name="id" value="{{ class.id }}"></p>
        <p>Class Number: {{ class.number }}</p>
    <!--下面的代码中我们有一个selected（布尔属性//专门用来指示下拉菜单中的某个选项是否被预选中），当class.semester.id等于这个选项时，selected = true，直接跳出循环这个选项就会被显示出来-->
        <p>Semester: {{ class.semester }}</p>
        <p>Course: {{ class.course }}</p>
        <p>Lecturer:</p>
        <p>
            <select name="lecturer">
                {% for lecturer in lecturers %}y
                    <option value ="{{ lecturer.id }}" >{{ lecturer.firstName }} + {{ lecturer.lastName }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="SAVE">
    </form>
{% endblock %}
