{% extends "base.html" %}
{% block title %}
    Enrol Student to Classes
{% endblock %}
{% block content %}
    <h5>Student information:</h5>
    <p>Student Name: {{ theStudent.firstName }} {{ theStudent.lastName }}</p>
    <p>Student Email: {{ theStudent.email }}</p>
    <p>Student DOB: {{ theStudent.DOB }}</p>
    <h5>Enrol Student to Classes</h5>
    <form action="{% url 'submitEnrolment' theStudent.id %}" method="post">
        {% csrf_token %}
        {% for class in allClasses %}
            <p><input type="radio" name="theClass" value="{{ class.id }}">{{ class.number }}</p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}