{% extends "base.html" %}
{% block title %}
    Update Class
{% endblock %}
{% block content %}
    <form action="{% url 'removeLecturerFromAClass' class.id %}" method="post">
        {% csrf_token %}
        <p><input type="hidden" name="id" value="{{ class_id.id }}"></p>
        <p>Class Number: {{ class_id.number }}</p>
        <p>Semester: {{ class_id.semester }}</p>
        <p>Course: {{ class_id.course }}</p>
        <p>Lecturer:
            <select name="lecturer">
                <option value = null></option>
                {% for lecturer in lecturers %}
                    <option value ="{{ lecturer.id }}" >{{ lecturer.firstName }}{{ lecturer.lastName }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="SAVE">
    </form>
{% endblock %}
