{% extends "base.html" %}
{% block title %}
    Student's Classes
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <button onclick="goBack()" class="goBackButton">Go Back</button>
        <h5>Student information:</h5>
        <p>Name: {{ student.firstName }} {{ student.lastName }}</p>
        <p>Email: {{ student.email }}</p>
        <p>DOB: {{ student.DOB }}</p>
        <h5>Classes the Student is currently enrolled in</h5>
        <p>Tick the classes you want to remove</p>
        <form action="{% url 'updateTheStudentClasses' student.id %}" method="post">
            {% csrf_token %}
            {% for class in classes %}
                <p><input type="checkbox" name="theClass" value="{{ class.id }}">{{ class.number }}</p>
            {% endfor %}
            <input type="submit" value="REMOVE">
        </form> <!--出现了一个问题，我的input没有放在form里面-->
    {% endif %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <style>
        .goBackButton {
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid #007bff;
            border-radius: 5px;
            color: #007bff;
            background-color: transparent;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .goBackButton:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}