{% extends "base.html" %}
{% block title %}
    Show All Classes
{% endblock %}
{% block content %}
    <form action="{% url 'RemoveALecturerFromThisClass' %}" method="post"><!--以这个form为例，当用户点击按钮时，表单会将选定的班级 ID 作为 POST 请求的一部分发送到服务器。在服务器端的 remove_lecturer 视图中，您可以通过 request.POST.get('class_id') 来获取被选择的班级的 ID。-->
        {% csrf_token %}
        <p>Choose a class:</p>
        <select name="classChose">
            {% for class in classes %}
                <option value="{{ class.id }}">{{ class.number }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-danger">RemoveALecturerFromThisClass</button>
    </form>
{% endblock %}
