{% extends "base.html" %}
{% block title %}
    Update Class
{% endblock %}
{% block content %}
    <form action="{% url 'removeLecturerFromAClass' class_obj.id %}" method="post">
        {% csrf_token %}
        <p>Class Number: {{ class_obj.number }}</p>
        <p>Semester: {{ class_obj.semester }}</p>
        <p>Course: {{ class_obj.course }}</p>
        <p>Lecturer:
            <select name="lecturer">
                <option value="">--Select Lecturer--</option>
                {% for lecturer in lecturers %}
                    <option value ="{{ lecturer.id }}" >{{ lecturer.firstName }}{{ lecturer.lastName }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="SAVE">
    </form>
{% endblock %}
