{% extends "base.html" %}
{% block title %}
    Show All Classes
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <button onclick="goBack()" class="goBackButton">Go Back</button>
        {% for class in classes %}
            <p>
                <a href="{% url "showClass" class.id %}">
                    {{ class.id }} - {{ class.number }}
                </a>
                <a href="{% url 'updateClass' class.id %}" class="btn btn-danger">
                    Update
                </a>
                <a href="{% url "deleteClass" class.id %}" class="btn btn-danger">
                    Delete
                </a>
            </p>
        {% endfor %}
        <a href="{% url 'createClass' %}" class="btn btn-primary">Create New Class</a>
    {% endif %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        .goBackButton {
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid #007bff;
            border-radius: 5px;
            color: #007bff;
            background-color: transparent;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .goBackButton:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}