{% extends "base.html" %}
{% block title %}
    Update Class
{% endblock %}
{% block content %}
    <form action="{% url 'removeLecturerFromAClass' classDe.id %}" method="post">
        {% csrf_token %}
        <p>Class Number: {{ classDe.number }}</p>
        <p>Semester: {{ classDe.semester }}</p>
        <p>Course: {{ classDe.course }}</p>
        <p>Lecturer:
            <select name="lecturer">
                <option value="0">--Select Lecturer--</option>
                {% for lecturer in lecturers %}
                    <option value="{{ lecturer.id }}">{{ lecturer.firstName }} {{ lecturer.lastName }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="SAVE">
    </form>
{% endblock %}