{% extends "base.html" %}
{% block title %}
    Login page
{% endblock %}
{% block content %}
    <form action="{% url 'updateLecturer' user.id %}" method="post">
        {% csrf_token %}
        <p><input type="hidden" name="id" value="{{ user.id }}"></p>
        <p>UserName:</p>
        <p><input type="text" name="username" value="{{ user.username }}"></p>
        <p>Password:</p>
        <p><input type="password" name="password" value="{{ user.password }}"></p>
        <p>First Name:</p>
        <p><input type="text" name="first_name" value="{{ user.first_name }}"></p>
        <p>Last Name:</p>
        <p><input type="text" name="last_name" value="{{ user.last_name }}">
        <p>Email Address:</p>
        <p><input type="email" name="email" value="{{ user.email }}"></p>
        <p>Role:</p>
        <p><input type="text" name="role" value="{{ user.role }}"></p>
        <input type="submit" value="UPDATE">
    </form>
{% endblock %}