{% extends "base.html" %}
{% block title %}
    Show All Students
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <button onclick="goBack()" class="goBackButton">Go Back</button>
        <h5>{{ class.number }}</h5>
        <h5>{{ student.firstName }} {{ student.lastName }}</h5>
        {% for enrollment in student_enrollments %}
            <ul>
                <li>{{ enrollment.student.firstName }} {{ enrollment.student.lastName }} - {{ enrollment.grade }}</li>
            </ul>
        {% endfor %}
        {% for enrolment in studentenrollments %}
            <ul>
                <li>{{ enrolment.Class.number }} {{ enrolment.Class.course.name }} - {{ enrolment.grade }}</li>
            </ul>
        {% endfor %}
    {% endif %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        .goBackButton {
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid #007bff;
            border-radius: 5px;
            color: #007bff;
            background-color: transparent;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .goBackButton:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}