{% extends "base.html" %}
{% block title %}
    Semester page
{% endblock %}
{% block content %}
    <form action="{% url 'updateSemester' semester.id %}" method="post">
        {% csrf_token %}
        <p><input type="hidden" name="id" value="{{ semester.id }}"></p>
        <p>Year:</p>
        <p><input type="number" name="Year" value="{{ semester.year }}"></p>
        <p>Semester:</p>
        <p><input type="number" name="Semester" value="{{ semester.semester }}"></p>
        <input type="submit" value="UPDATE">
    </form>
{% endblock %}