{% extends "base.html" %}
{% block title %}
    Show All Students
{% endblock %}
{% block content %}
    {% for user in users %}
        <p>
            <a href="{% url "showStudent" user.id %}">
                {{ user.id }} - {{ user }}
            </a>
            <a href ="{% url "updateStudent" user.id %}" class="btn btn-danger">
                Update
            </a>
            <a href="{% url "deleteStudent" user.id %}" class="btn btn-danger">
                Delete
            </a>
        </p>
    {% endfor %}
    <a href="{% url 'registerUser' %}" class="btn btn-primary">Register New Student</a>
{% endblock %}