{% extends "base.html" %}
{% block title %}
    Show The Lecturer Detail
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <button onclick="goBack()" class="goBackButton">Go Back</button>
        <p>The Lecturer Name: {{ Lecturer.lastName }} {{ Lecturer.firstName }}</p>
        <p>The Lecturer Email: {{ Lecturer.email }}</p>
        <p>The Lecturer DOB: {{ Lecturer.DOB }}</p>
        <p>The Lecturer Courses:</p>
        {% if allClasses %}
            <ul>{% for class in allClasses %}
                <li>{{ class.number }}{{ class.course.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>The Lecturer currently doesn't have any courses</p>
        {% endif %}
    {% endif %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <style>
        .goBackButton {
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid #007bff;
            border-radius: 5px;
            color: #007bff;
            background-color: transparent;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .goBackButton:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}