{% extends "base.html" %}
{% block title %}
    Class page
{% endblock %}
{% block content %}
    <form action="{% url 'updateClass' class.id %}" method="post">
        {% csrf_token %}
        <p><input type="hidden" name="id" value="{{ class.id }}"></p>
        <p>Number:</p>
        <p><input type="text" name="number" value="{{ class.number }}"></p>
        <p>Semester:</p>
        <p><input type="text" name="semester" value="{{ class.semester }}"></p>
        <p>Course:</p>
        <p><input type="text" name="course" value="{{ class.course }}"></p>
        <p>Lecturer:</p>
        <p><input type="text" name="lecturer" value="{{ class.lecturer }}"></p>
        <input type="submit" value="UPDATE">
    </form>
{% endblock %}