{% extends "base.html" %}
{% block title %}
    Show All Students
{% endblock %}
{% block content %}
    <h5>All Students List</h5>
    <p>Choose a student to edit</p>
    <form action="{% url 'showTheStudentDetail' student.id %}" method="get">
        <select name="theStudent">
            {% for student in students %}
                <option value="{{ student.id }}">
                    {{ student.firstName }}{{ student.lastName }}{{ student.email }}</option>
            {% endfor %}
            <input type="submit" value="Search">
        </select>
    </form>
{% endblock %}