{% extends "base.html" %}
{% block title %}
    Student Home Page
{% endblock %}
<body>
{% block content %}
    {% if user.is_authenticated %}
        <button onclick="goBack()" class="goBackButton">Go Back</button>
        <p>Hello! {{ user.username }}</p>
        <button><a href="{% url 'displayStudentsGrades' user.id %}">Choose a class to review your grades</a></button>
    {% endif %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <style>
        .goBackButton {
            display: inline-block;
            padding: 10px 20px;
            border: 2px solid #007bff;
            border-radius: 5px;
            color: #007bff;
            background-color: transparent;
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .goBackButton:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}
</body>